@import '~@fortawesome/fontawesome-free/css/all.css';

h2{
  color: #9acd32;
}

.picture{
    height: 300px;
    width: 300px;
}

.header{
    height: 100vh;
    z-index: 999;
  }
  
  
  .bio{
    color: white;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    font-size: 1.4em;
    border-bottom: 1px solid #9acd32;
    border-top: 1px solid #9acd32;
    height: 400px;
}

.about{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
}

.bio-list-item{
  margin-top: 10px;
  margin-bottom: 10px;
}

.languagesKnown{
    color: white;
    font-size: 1.4em;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
}

.goals{
    color: white;
    font-size: 1em;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.goals ul{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.goals ul li{
    margin: 10px;
}

.projectContainer{
    border-top: 1px solid #9acd32;
    width: 90%;
    margin: 0 auto 20px auto;
    color: white;
    font-size: 1.4em;
}

.projects{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.projects img{
    margin: 40px;
    height: 250px;
    width: 350px;
}

.gitHubPic{
    height: 80px;
    margin-top: 50px;
}


.contactPage{
    border-top: 1px solid #9acd32;
    color: white;
    font-size: 1.4em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.contact h2{
  color: white;
}


.contact{
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: 20px auto 0px auto;
    color: white;
    font-size: 15px;
}

.contact textarea{
  width: 60%;
  height: 150px;
  border: 2px solid #9acd32;
  margin: 20px;
}

.contactButton{
  height: 50px;
  background-color: #9acd32;
}

.contactButton:hover{
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}

.custom-navbar {
  background-color: #282c34; 
  opacity: .8;
  color: white;
  height: 50px;
  border-bottom: 1px solid #9acd32;
  text-align: left;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 1000;
}

.custom-navbar .nav-link {
padding: 10px;
justify-content: space-evenly;
  color: white; 
  text-decoration: none;
}

.custom-navbar .nav-link:hover {
  color: #9acd32; /* Link text color on hover */
}

/* LanguagesKnown.css */
.horizontal-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Adjust as needed for spacing */
  }
  
  .horizontal-list .list-group-item {
    width: calc(33.33% - 10px); /* Adjust as needed for spacing and number of items */
    margin-bottom: 10px; /* Adjust as needed for spacing */
  }

  .header .icons{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mainContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
  justify-content: center;
  align-items: center;
}

.mainContainer .headerInfo{
  position: absolute;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.mainContainer .headerInfo a{
color: #9acd32;
font-size: 1.7em;
}

.hint{
  width: 10vw;
  height: 5vh;
  position: absolute;
  left: 10px;
  top:150px;
  z-index: 999;
}
  
.projectCard{
  border: 1px solid #9acd32;;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  max-width: 450px; /* Adjust the width as needed */
  height: 550px;
}

.projectCard img{
  margin: 0px;
}

.languages{
  border: 1px solid #9acd32;
  margin: 5px;
  padding: 2px;
}

.languageContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.icons-nav {
  margin-left: auto;
}


/* Media Query for Phones */
@media screen and (max-width: 768px) {
  .custom-navbar{
    position: fixed;
  }
  .custom-navbar .nav-link {
    font-size: 14px; /* Adjust the font size to make the text smaller */
  }
  .header {
    height: auto; /* Adjust height as needed */
  }
  .bio {
    height: auto; /* Adjust height as needed */
  }
  .languagesKnown {
    height: auto; /* Adjust height as needed */
  }
  .goals ul {
    flex-direction: column; /* Stack list items vertically */
  }
  .projects img {
    width: 50%; /* Make images fill the container width */
    height: auto;
    margin: 10px 0; /* Adjust margin as needed */
  }
  .contactPage {
    width: 100%; /* Make the contact page full width */
  }
  .custom-navbar {
    height: 60px; /* Adjust height as needed */
  }
  .custom-navbar .nav-link {
    font-size: 14px; /* Adjust font size as needed */
  }
  .hint {
    display: none; /* Hide the hint element on small screens */
  }
  /* Add more responsive adjustments as needed */
  .projectCard {
    max-width: 100%; /* Adjust the width to fit the screen */
    height: auto; /* Let the height adjust based on content */
  }

  .projectCard img {
    max-width: 100%; /* Make images fit within the project card */
    height: auto;
    margin: 10px 0; /* Adjust margin as needed */
  }

  .languages {
    font-size: 14px; /* Adjust font size for smaller screens */
  }
  .mainContainer {
    width: 100%; /* Adjust the width to fit the screen */
  }
  body {
    overflow-x: hidden; /* Prevent horizontal scrolling on phones */
  }
  .contact{
    width: 90%;
  }
  .contact h2 {
    font-size: 1.2em; /* Adjust the font size as needed for smaller screens */
    margin: 10px 0; /* Add margin to the top and bottom for spacing */
  }
  .hint{
    display: block;
    width: 5vw;
    height: 5vh;
    z-index: 999;
    font-size: .8em;
    position: absolute;
    top:70px;
  }
 
}

@media screen and (max-width: 1010px){
  .projectCard {
    max-width: 100%; /* Adjust the width to fit the screen */
    height: 600px; /* Let the height adjust based on content */
  }
}