@import '~@fortawesome/fontawesome-free/css/all.css';


.picture{
    height: 300px;
    width: 300px;
}

.header{
   margin: 20px;
    height: 100vh;
    padding-top: 150px;
  }
  
  .bio{
    color: white;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    font-size: 1.4em;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
}

.languagesKnown{
    color: white;
    font-size: 1.4em;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.goals{
    color: white;
    font-size: 1em;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.goals ul{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.goals ul li{
    margin: 10px;
}

.projectContainer{
    border-top: 1px solid gray;
    width: 90%;
    margin: 0 auto 20px auto;
    color: white;
    font-size: 1.4em;
}

.projects{
    display:flex;
    justify-content: center;
    align-items: center;
}

.projects img{
    margin: 40px;
    height: 250px;
    width: 350px;
}

.gitHubPic{
    height: 80px;
    margin-top: 50px;
}


.contactPage{
    border-top: 1px solid gray;
    color: white;
    font-size: 1.4em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.contact{
    display: flex;
    width: 400px;
    justify-content: space-between;
    margin: 20px auto 0px auto;
    color: white;
    font-size: 15px;
}

.App-link {
  color: #61dafb;
}

.custom-navbar {
  background-color: #282c34; 
  opacity: .8;
  color: white;
  height: 50px;
  border-bottom: 1px solid white;
  text-align: left;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
}

.custom-navbar .nav-link {
padding: 10px;
justify-content: space-evenly;
  color: white; 
  text-decoration: none;
}

.custom-navbar .nav-link:hover {
  color: #61dafb; /* Link text color on hover */
}

/* LanguagesKnown.css */
.horizontal-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Adjust as needed for spacing */
  }
  
  .horizontal-list .list-group-item {
    width: calc(33.33% - 10px); /* Adjust as needed for spacing and number of items */
    margin-bottom: 10px; /* Adjust as needed for spacing */
  }

  .header .icons{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header a{
text-decoration: none;
color: white;
  }

  


