@import '~@fortawesome/fontawesome-free/css/all.css';

h2{
  color: #9acd32;
}

.picture{
    height: 300px;
    width: 300px;
}

.header{
    height: 100vh;
    z-index: 999;
  }
  
  
  .bio{
    color: white;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    font-size: 1.4em;
    border-bottom: 1px solid #9acd32;
    border-top: 1px solid #9acd32;
    height: 400px;
}

.about{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
}

.bio-list-item{
  margin-top: 10px;
  margin-bottom: 10px;
}

.languagesKnown{
    color: white;
    font-size: 1.4em;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
}

.goals{
    color: white;
    font-size: 1em;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.goals ul{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.goals ul li{
    margin: 10px;
}

.projectContainer{
    border-top: 1px solid #9acd32;
    width: 90%;
    margin: 0 auto 20px auto;
    color: white;
    font-size: 1.4em;
}

.projects{
    display:flex;
    justify-content: center;
    align-items: center;
}

.projects img{
    margin: 40px;
    height: 250px;
    width: 350px;
}

.gitHubPic{
    height: 80px;
    margin-top: 50px;
}


.contactPage{
    border-top: 1px solid #9acd32;
    color: white;
    font-size: 1.4em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.contact h2{
  color: white;
}


.contact{
    display: flex;
    width: 400px;
    justify-content: space-between;
    margin: 20px auto 0px auto;
    color: white;
    font-size: 15px;
}

.App-link {
  color: #61dafb;
}

.custom-navbar {
  background-color: #282c34; 
  opacity: .8;
  color: white;
  height: 50px;
  border-bottom: 1px solid #9acd32;
  text-align: left;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 1000;
}

.custom-navbar .nav-link {
padding: 10px;
justify-content: space-evenly;
  color: white; 
  text-decoration: none;
}

.custom-navbar .nav-link:hover {
  color: #9acd32; /* Link text color on hover */
}

/* LanguagesKnown.css */
.horizontal-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Adjust as needed for spacing */
  }
  
  .horizontal-list .list-group-item {
    width: calc(33.33% - 10px); /* Adjust as needed for spacing and number of items */
    margin-bottom: 10px; /* Adjust as needed for spacing */
  }

  .header .icons{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header a{
text-decoration: none;
color: #9acd32;
  }

  .mainContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
  justify-content: center;
  align-items: center;
}

.mainContainer .headerInfo{
  position: absolute;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.mainContainer .headerInfo a{
  text-decoration: none;
color: #9acd32;
}
  
.projectCard{
  border: 1px solid #9acd32;;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  max-width: 450px; /* Adjust the width as needed */
  height: 515px;
}

.projectCard img{
  margin: 0px;
}

.languages{
  border: 1px solid #9acd32;
  margin: 5px;
  padding: 2px;
}

.languageContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.icons-nav {
  margin-left: auto;
}
